# .envrc

# Set library path
export LD_LIBRARY_PATH="$PWD/mysql_connector_cpp/lib64:$LD_LIBRARY_PATH"

# Optionally, if using clangd with compile_commands.json:
export COMPILE_COMMANDS_DIR="$PWD/build"

export DB_HOST="149.28.89.172"
export DB_USER="Charles"
export DB_PASSWORD="mdeBiINwyCqdjImyhpBivbawJNDcCA"
export DB_NAME="invmangBase"

